<h1>Create new auction</h1>
<%= form_for @auction do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="sample1">
    <label class="mdl-textfield__label" for="sample1">Text...</label>
  </div>
</form>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.label :imageUrl %><br>
    <%= f.text_area :imageUrl %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
