<style>
 body {
   background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png");
   font-family: 'Montserrat Alternates', sans-serif;
   margin-left: auto;


 }
 .body-builder {
   margin: auto;
   padding-left: 40%;
 }
</style>
<body>
<div class="body-builder">

<h1>Create new auction</h1>
<%= simple_form_for auction, html: { multipart: true } do |f| %>
    <%= f.input :name %>
    <%= f.input :content, as: :text %>
    <%= f.file_field :imageUrl %>
    <%= f.button :submit %>
<% end %>
</div>
</body>
