<style>
.centered {
  position: fixed;
  width: 100%;
  height: 100%;
  margin:auto;
  background-color: #3CBA6A;
  text-align: center;

}

</style>

<div class="centered">
<br>
<p>
  <img src="<%= @auction.imageUrl %>">
</p>

<p>
  <strong>Title:</strong>
    <%= @auction.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @auction.content %>

</p>
<p>
  <% if current_user and current_user.has_role? :admin %>
   Let's draw
   <%= link_to 'Draw', draw_auction_path(@auction), method: :post%>
  <% else %>
  <%= link_to 'Bid' , bid_auction_path(@auction), method: :post %>
  <% end %>
</p>



  <strong>Bidders:</strong>
  <p>



  <% @auction.users.each do |user| %>
    <%= user.email %>

</p>

<% end %>
</div>
