<style>
.centered {
  position: fixed;
  width: 100%;
  height: 100%;
  margin:auto;
  background-color: #3CBA6A;
  text-align: center;

}

</style>

<div class="centered">
<br>
<p>
  <img src="<%= @auction.imageUrl %>">
</p>

<p>
  <strong>Title:</strong>
    <%= @auction.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @auction.content %>

</p>
<p>

  <%= link_to 'Bid' , bid_auction_path(@auction), method: :post %>

</p>
<p>

  <strong>Last Bidder:</strong>
  <%= @auction.users.last.email %>


</p>


  <strong>Bidders:</strong>
  <p>
  <%= @auction.users.each do |user| %>
    <%= user.email %>

</p>
<% end %>
</div>
