<!DOCTYPE html>
<html>
  <head>
    <title>Lottery</title>
    <%= csrf_meta_tags %>
        <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
        <script src="/node_modules/material-design-lite/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= current_user.email %>
      <%= link_to 'Sign-out', 'users/sign_out', method: :delete %>
    <% else %>
      <%= link_to 'Sign-up', '/users/sign_up' %>
      <%= link_to 'Sign-in', '/users/sign_in' %>
    <% end %>

    <%= yield %>
  </body>
</html>
